@import '~office-ui-fabric-react/dist/sass/References.scss';
$ms-themePrimary:               "[theme:themePrimary, default:#0078d7]";
$ms-themeSecondary:             "[theme:themeSecondary, default:#2488d8]";

.tiles {
  .message {
    @include ms-font-m;
  }

  .error {
    @include ms-font-m;
    color: $ms-color-alert;
  }

  /* Center the grid of tiles */
  .tilesList {
    @include ms-Grid-row;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;   // center tiles horizontally
  }

  /* Tile background color */
  .tileBG {
    color: #09562c; // GTI Custom
  }

  /* Tile font color */
  .tileFont {
    color: #bfcc80; //GTI Custom
  }

  /* NEW: Tile styling */

.tile {
  border-radius: 12px; //rounded corners for GTI customization
  overflow: hidden;   //support for inner divs
  display: flex;
  flex-direction: column;
  justify-content: center; //center all the tiles
  align-items: center;
  text-align: center;
  background-color: #fff;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
}

}
